<p id="notice"><%= notice %></p>

<h1>Listing Build Trucks</h1>

<table>
  <thead>
    <tr>
      <th>Project name</th>
      <th>Owner</th>
      <th>Size</th>
      <th>Flooring</th>
      <th>Walls</th>
      <th>Lighting</th>
      <th>Configuration</th>
      <th>Shelves</th>
      <th>Rods</th>
      <th>Outside color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @build_trucks.each do |build_truck| %>
      <tr>
        <td><%= build_truck.project_name %></td>
        <td><%= build_truck.owner_id %></td>
        <td><%= build_truck.size %></td>
        <td><%= build_truck.flooring %></td>
        <td><%= build_truck.walls %></td>
        <td><%= build_truck.lighting %></td>
        <td><%= build_truck.configuration %></td>
        <td><%= build_truck.shelves %></td>
        <td><%= build_truck.rods %></td>
        <td><%= build_truck.outside_color %></td>
        <td><%= link_to 'Show', build_truck %></td>
        <td><%= link_to 'Edit', edit_build_truck_path(build_truck) %></td>
        <td><%= link_to 'Destroy', build_truck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Build truck', new_build_truck_path %>
