<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @boutique.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @boutique.owner_id %>
</p>

<p>
  <strong>Website:</strong>
  <%= @boutique.website %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @boutique.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @boutique.facebook %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @boutique.instagram %>
</p>

<p>
  <strong>Email:</strong>
  <%= @boutique.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @boutique.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @boutique.state %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @boutique.schedule %>
</p>

<p>
  <strong>Description:</strong>
  <%= @boutique.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @boutique.category %>
</p>

<%= link_to 'Edit', edit_boutique_path(@boutique) %> |
<%= link_to 'Back', boutiques_path %>
