<p id="notice"><%= notice %></p>
<% provide(:title, @boutique.name) %>

<div class="center jumbotron">
  <h1><%= @boutique.name %> Profile</h1>


    <div class="container"> 
      <div class="row">
  <div class="col-md-12">
    <section class="user_info">
      <h1>
        <%= gravatar_for @boutique %>

      </h1>
    </section>
  </div>
</div>

<div class="sidebar">
                <div class="fb-post" data-href="https://www.facebook.com/FacebookDevelopers/posts/10151471074398553" data-width="350"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/FacebookDevelopers/posts/10151471074398553"><p>Be the first to know when we release a new video by subscribing to our official Facebook Developers YouTube channel!  http://www.youtube.com/facebookdevelopers</p>Posted by <a href="https://www.facebook.com/FacebookDevelopers">Facebook Developers</a> on <a href="https://www.facebook.com/FacebookDevelopers/posts/10151471074398553">Wednesday, May 29, 2013</a></blockquote></div></div>
     </div>
<!--     <aside class="col-md-8">                             
      <table class="profile_table"> -->

<!--         <tbody>
          <tr>
            <td><strong>Name</strong></td>
            <td><%= @boutique.name %></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><%= @boutique.email %></td>
          </tr>
          <tr>
            <td>Owner</td>
            <td><%= @boutique.owner_id %></td>
          </tr>
          <tr>
            <td>Website</td>
            <td><a href = "<%= @boutique.website %>" target="_blank"></td>
          </tr>
          <tr>
            <td>Location</td>
            <td><%= @boutique.city %>, <%= @boutique.state %></td>
          </tr> 
          <tr>
            <td>Schedule</td>
            <td><%= @boutique.schedule %> </td>
          </tr> 
          <tr>
            <td>Category</td>
            <td><%= @boutique.category %></td>
          </tr> 
          <tr>
            <td>Description</td>
            <td><%= @boutique.description %></td>
          </tr>   
          <tr>
            <td>Schedule</td>
            <td><%= @boutique.schedule %> </td>
          </tr> 
          <tr>
            <td>Category</td>
            <td><%= @boutique.category %></td>
          </tr> 
          <tr>
            <td>Description</td>
            <td><%= @boutique.description %></td>
          </tr>                   
            <td><a href = "<%= @boutique.twitter %>" target="_blank"> Check out our Twitter page!</a>
            </td>        
          <tr>
            <td><a href = "<%= @boutique.facebook %>" target="_blank"> Check out our Facebook page!</a>
            </td>
          </tr>                  
          <tr>
            <td><a href = "<%= @boutique.instagram %>" target="_blank"> Check out our Instagram page!</a>
            </td>    
          </tr>                

          
                      


        </tbody>
      </table>
    </div>
        <div class="col-md-4"> 
                                         
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>

     

        </tbody>
      </table>
    </div>
    </div>
    <% provide(:name, @boutique.name) %>
 -->
<div>


<%= link_to 'Edit', edit_boutique_path(@boutique) %> |
<%= link_to 'Back', boutiques_path %>

